[submodule "unitree_sdk_python"]
	path = unitree_sdk_python
	url = https://github.com/sakuzeng/unitree_sdk2_python.git
[submodule "librealsense"]
	path = librealsense
	url = https://github.com/sakuzeng/librealsense.git
